@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 0);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.left {
  margin-top: 7px;
  height: 105vh;
  margin-bottom: 5px;
}
.right {
  width: 77vw;
  height: 105vh;
  background-color: rgba(31, 30, 30, 0.596);
  margin-right: 7px;
  margin-top: 7px;
  border-radius: 8px;
  margin-bottom: 5px;
}
.l1 {
  width: 23vw;
  height: 23vh;
  background-color: rgba(31, 30, 30, 0.596);
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 7px;
  border-radius: 8px;
}
.CreatePlaylist {
  background-color: #2a2a2a94;
  color: azure;
  padding: 18px;
  margin: 9px;
  margin-top: 35px;
  border-radius: 6px;
}
.CreatePlaylist h4 {
  margin-bottom: 12px;
  font-weight: 500;
}
.CreatePlaylist h5 {
  margin-bottom: 22px;
  font-weight: 400;
}
.createbutton button {
  width: 130px;
  height: 35px;
  border: 0;
  border-radius: 20px;
  font-weight: bolder;
}
.quicklinks {
  margin-top: 38px;
}
.quicklinks span {
  color: rgb(177, 174, 174);
  font-size: 11px;
  margin: 10px;
  font-weight: 400;
}
.quicklinks button {
  border: 0.1px solid rgba(255, 255, 255, 0.37);
  border-radius: 20px;
  width: 98px;
  height: 33px;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.l2 {
  width: 23vw;
  height: 81vh;
  background-color: rgba(31, 30, 30, 0.596);
  margin: 7px;
  margin-bottom: 0px;
  border-radius: 8px;
}
.plus {
  filter: invert(1);
  height: 16px;
  width: 16px;
  margin-left: 38%;
  padding-top: 22px;
}
.left_arrow {
  background-color: rgba(255, 255, 255, 0.493);
  border-radius: 15px;
}
.right_arrow {
  background-color: rgba(255, 255, 255, 0.493);
  border-radius: 15px;
}
.signup {
  padding-top: 25px;
  padding-left: 690px;
  color: gray;
}
.login button {
  height: 50px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgba(0, 0, 0, 0.767);
  font-size: 15px;
}
.login {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 8px;
}
.nav {
  border-bottom: 1px solid;
  position: sticky;
  top: 0;
  z-index: 0;
}
.cards {
  overflow: auto;
  width: 100%;
}
