body{
    background-color: bisque;
    font-family: "Protest Revolution", sans-serif;
    font-weight: bold;
}
#name{
    background-color: black;
    color: rgb(243, 247, 245);
    border: 2px solid rgb(166, 255, 0);
    border-radius: 50px;
}
#gender{
    background-color: black;
    color: rgb(243, 247, 245);
    border: 2px solid rgb(166, 255, 0);
    border-radius: 50px;
}
#class{
    background-color: black;
    color: rgb(243, 247, 245);
    border: 2px solid rgb(166, 255, 0);
    border-radius: 50px;
}
#whole{
    background-color: black;
    color: rgb(243, 247, 245);
    border: 2px solid rgb(166, 255, 0);
    border-radius: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
